<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.habitize">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Habitize">
        <activity
            android:name=".CustomListOfExistingFollowers"
            android:exported="false" />
        <activity
            android:name=".FollowingActivity"
            android:exported="false" />
        <activity
            android:name=".MyNavigationService"
            android:exported="false" />

        <service
            android:name=".MyNavigationService"
            android:exported="false"
            android:foregroundServiceType="location"
            />

        <activity
            android:name=".AddHabitImage"
            android:exported="false" />
        <activity
            android:name=".AddHabitLocation"
            android:exported="false" />
        <activity android:name=".ViewHabitActivity"/>
        <activity
            android:name=".Login_Activity"
            android:exported="true">
            android:name=".SignUp"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity" />
        <activity android:name=".AllHabitsActivity" />
        <activity
            android:name=".AddHabitActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>